.form {
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: 18vw;
  grid-template-rows: repeat(4, 4vh);
}

/* .formItemInput:first-child {
  margin-top: 1vh;
} */

.formItemInput {
  /* margin-top: 1vh; */
  height: 3.5vh;
  padding: 0px 10px;

  border: 1px solid rgba(105, 105, 105, 0.269);
  border-radius: 10px;
}

.formItemInput:focus {
  outline: 1px solid rgba(180, 214, 245, 0.921);

  padding: 0px 10px;

}

.formItemBtn {
  padding: 0px 10px;

  border: 1px solid rgba(105, 105, 105, 0.269);
  border-radius: 10px;

  opacity: .8;
}

.formItemBtn:hover {
  background-color: rgba(180, 214, 245, 0.732);
  opacity: 1;
}


.formAnswerItem {
  align-items: center;
  color: #333;
  width: 20vw;

  padding: 0px 10px;
  margin-bottom: 1vh;

  border: 1px solid rgba(105, 105, 105, 0.106);
  border-radius: 10px;

}

.formAnswerSpan {

  font-family: monospace;
  font-size: 18px;
  opacity: .9;

}