.swa {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  height: 93vh;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;

  &__planets {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}