@use '../../../scss/colors.scss' as colors;
@use '../../../scss/fonts' as fonts;
@import '../../../scss/mixin.scss';

.input {
  @include button-input();
  font-size: fonts.$mainFont;
  padding: 0rem 1rem;

  &:focus {
    outline: 1px solid colors.$hover-light;
  }
}