@use '../../../scss/colors.scss' as colors;
@use '../../../scss/fonts' as fonts;
@import '../../../scss/mixin.scss';

.button {
  @include button-input();
  font-size: fonts.$mainFont;
  opacity: .8;

  &:hover {
    background-color: colors.$hover-light;
    opacity: 1;
  }
}