.on-style-change-down {
  background-color: rgb(231, 165, 248);
}

.on-style-change-up {
  align-items: center;

  background-color: rgb(163, 244, 163);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}