@use '../../scss/fonts' as fonts;

.header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: fonts.$mainFont;

  &__logo {
    font-size: fonts.$mainFont;
  }
}

.mouse-down {
  background-color: rgb(231, 165, 248);
}

.mouse-up {
  align-items: center;
  background-color: rgb(163, 244, 163);
}