@use '../../scss/fonts' as fonts;
@use '../../scss/colors.scss' as colors;

@mixin photoSize {
  width: 18vw;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-file {
  display: none;
}

.wrapper-img-picker {
  @include photoSize;
  margin-bottom: 1vh;
  font-size: fonts.$mainFont;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 0.758);
  background-image: url(./images/pudge.jpeg);

  &__photo {
    @include photoSize;
  }

  &__text {
    margin: 50% 0;
  }
}

.wrapper-img-picker:hover {
  opacity: .8;
  color: colors.$hover-light;
}