.input-file {
  display: none;
}

.wrapper-img-picker {
  width: 18vw;
  height: 45vh;

  background-image: url(./images/pudge.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1vh;
}

.wrapper-img-picker:hover {
  opacity: .8;
}

.photo-img-picker {
  width: 18vw;
  height: 45vh;
}

.empty-img-picker-text {
  height: 50%;
  padding-top: 17vh;
  text-align: center;
}