@use '../../scss/fonts' as fonts;

.menu-item {
  font-size: fonts.$mainFont;
  text-decoration: none;
  color: inherit;
}

.menu-item:hover {
  text-decoration: none;
  color: rgba(90, 4, 117, 0.881)
}