@use '../../scss/fonts' as fonts;
@use '../../scss/colors.scss' as colors;
@import '../../scss/mixin.scss';

.menu-list {
  @include paddings;
  font-size: fonts.$mainFont;
  height: 93vh;
  background: rgba(191, 190, 190, 0.806);

  &__link {
    padding-bottom: 1rem;
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: colors.$hover-dark;
    }
  }
}