* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 8vh 92vh;
  grid-template-columns: 15vw 85vw;

  grid-template-areas:
    'hr hr'
    'mL i';
}

.header {
  padding: 15px 15px;
  grid-area: hr;
  background-color: #ff6d9124;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.menuList {
  padding: 5px 15px;
  grid-area: mL;
  background-color: rgba(0, 0, 0, 0.064);
  border-right: 1px solid rgba(77, 77, 77, 0.247);
}

.item {
  padding: 5px 15px;
  grid-area: i;
  background-color: rgba(0, 0, 0, 0.064);
}

/* ------- Image Picker ---------*/
.inputFile {
  display: none;
}

.WrapperImgPicker {
  width: 20vw;
  height: 35vh;

  background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/5227693/pub_6151af695f867d06a88b0899_6151af7b7b505c416854713d/scale_1200);
  background-repeat: no-repeat;
  background-size: cover;
}

.WrapperImgPicker:hover {
  width: 20vw;
  height: 35vh;
  opacity: .8;
}

.PhotoImgPicker {
  width: 20vw;
  height: 35vh;
}



/* ------- MenuList page ---------*/
.menuItem {
  text-decoration: none;
  color: inherit;
}

.menuItem:hover {
  text-decoration: none;
  color: rgba(90, 4, 117, 0.881)
}




/* ------- Nigga page ---------*/
.nigga {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
}