* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 8vh 92vh;
  grid-template-columns: 15vw 85vw;

  grid-template-areas:
    'hr hr'
    'mL i';
}

.header {
  padding: 15px 15px;
  grid-area: hr;
  background-color: #ff6d9124;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.menuList {
  padding: 5px 15px;
  grid-area: mL;
  background-color: rgba(0, 0, 0, 0.064);
  border-right: 1px solid rgba(77, 77, 77, 0.247);
}

.item {
  padding: 5px 15px;
  grid-area: i;
  background-color: rgba(0, 0, 0, 0.064);
}

/* ------- Image Picker ---------*/
.inputFile {
  display: none;
}

.emptyImgPickertext {
  height: 50%;
  padding-top: 17vh;
  text-align: center;
}

.WrapperImgPicker {
  width: 18vw;
  height: 45vh;

  background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/5227693/pub_6151af695f867d06a88b0899_6151af7b7b505c416854713d/scale_1200);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1vh;
}

.WrapperImgPicker:hover {
  opacity: .8;
}

.PhotoImgPicker {
  width: 18vw;
  height: 45vh;
}


/* ------- Form Page ---------*/
.form {
  margin-bottom: 5vh;
}

/* .formItemInput:first-child {
  margin-top: 1vh;
} */



.formItemInput {
  /* margin-top: 1vh; */
  width: 17vw;
  height: 3.5vh;
  padding: 0px 10px;

  border: 1px solid rgba(105, 105, 105, 0.269);
  border-radius: 10px;
}

.formItemInput:focus {
  outline: 1px solid rgba(180, 214, 245, 0.921);

  padding: 0px 10px;

}

.formItemBtn {
  padding: 0px 10px;

  border: 1px solid rgba(105, 105, 105, 0.269);
  border-radius: 10px;

  opacity: .8;
}

.formItemBtn:hover {
  background-color: rgba(180, 214, 245, 0.732);
  opacity: 1;
}


.formAnswerItem {
  align-items: center;
  color: #333;
  width: 20vw;

  padding: 0px 10px;
  margin-bottom: 1vh;

  border: 1px solid rgba(105, 105, 105, 0.106);
  border-radius: 10px;

}

.formAnswerSpan {

  font-family: monospace;
  font-size: 18px;
  opacity: .9;

}






/* ------- MenuList page ---------*/
.menuItem {
  text-decoration: none;
  color: inherit;
}

.menuItem:hover {
  text-decoration: none;
  color: rgba(90, 4, 117, 0.881)
}




/* ------- Nigga page ---------*/
.nigga {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
}