@mixin button-input {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 4vh;
  border: 1px solid rgba(138, 137, 137, 0.269);
  border-radius: 10px;
  width: 17.5vw;
  min-width: 15vw;
}

@mixin paddings {
  padding-left: 1rem;
}